.App {
  text-align: center;
}

.form{
  display: inline-block;
  background-color: bisque;
  padding: 50px;
  padding-top: 50px;
}

.formDiv{
  margin: 20px;
}

.formLabel{
  display: inline-block;
  width: 80px;
  text-align: left;
}

a{
  font-size: 2rem;
  text-decoration: hotpink;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aqua;
}
span{
  display: inline-block;
  width: 75px;
  text-align: left;
  margin-left: 20px;
 
}